.layout {
  width: 100vw;
  height: 100vh;
  .header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 12px 40px;
    .title {
      font-size: 32px;
      color: #fff;
      margin: 0;
    }
    .menu {
      width: max-content;
      justify-content: flex-end;
      border-radius: 6px;
      .menu-item {
        display: flex;
        align-items: center;
      }
    }
  }
}
